.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; 
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.sidebar .nav-link .fas {
    width: 20px;
    text-align: center;
    margin-right: 8px;
}
.sidebar .nav-link.active {
    color: #0d6efd;
}