.logo-container {
    background-color: #f38120; /* Fundo laranja para a logo */
    padding: 10px;
    border-radius: 5px;
    display: inline-block; /* Garante que o fundo se ajuste ao conteúdo */
}

.logo-container .logo-img {
    width: 120px;
    display: block; /* Remove espaços extras abaixo da imagem */
}